html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
  font-size: 2.5rem;
  background: rgba(187, 187, 22, 0.4);
  padding: .4em;
  border-radius: 10px;
  text-align: center;
  margin-top: 0.1em;
}

h2 {
  color: #ab0000;
  margin-top: 0.3em;
}

h3 {
  padding-left: 1em;
  position: relative;
  color: #333333;
}
h3:before {
  position: absolute;
  content: '';
  left: 1px;
  top: 30%;
  width: 10px;
  height: 35%;
  background: #ab0000;
}

p {
  margin-left: 1em;
  font-weight: 300;
  position: relative;
  color: #383838;
}

hr {
  border-top: 1px gray;
  margin: 1em 0 0.5em 0;
  box-shadow: 0 1px 1px #797979;
}

img {
  margin-left: .5em;
  box-shadow: 0 0 8px #bfbfbf;
  margin-top: 0.5em;
  width: 90%;
  border-radius: 10px;
}
/*
.pre {
  white-space: pre;
}
*/
.btn-space {
  padding: 1em;
  margin: .2em;
  width: 4.7em;
}

select.custom-select {
  position: relative;
  top: -2.3em;
  left: 7em;
}

#open-close-div {
  position: relative;
  left: 12em;
  top: -4.6em;
}
